<?xml version="1.0"?>
<model>
  <name>Pista PuzzleBot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Tu Nombre</name>
    <email>tu@correo.com</email>
  </author>

  <description>
    Pista de tres carriles con fondo blanco y líneas negras para el PuzzleBot.
  </description>
</model>